body {
	margin-top: 0;
	margin-left: 200px;
	padding: 0;
	padding-left: 10px;
	font-family: arial;
}

.app-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0 1px 15px rgba(0,0,0, .22);
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	z-index: 1000;
	width: 195px;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.app-nav .logo {
	/*background: url(http://v1.colehafner.com/images/logo.png) center center no-repeat; */
	background: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/025/154/2246aaf.jpg) center center no-repeat;
	background-size: 150px;
	margin-top: 5px;
	border-radius: 50%;
	background-color: #ff0000;
    width: 150px;
    height: 150px;
	margin: auto;
    margin-top: 15px;
	margin-bottom: 15px;
    border-radius: 50%;
}

.app-nav .social {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-top: 1px solid #ccc;
}

.app-nav .social a {
	text-decoration: none;
	font-size: 30px;
	color: #999;
	padding: 7px;
}

.app-nav ul {
	list-style: none;
    margin-left: 0;
    padding: 0;
}

.app-nav ul li {
	display: block;
}

.app-nav ul li a {
	padding: 20px;
	display: block;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	min-width: 80px;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.app-nav ul li a:hover, .app-nav ul li a.active {
	background-color: dodgerblue;
	color: #fff;
	transition-property: 'background-color';
	transition-duration: 1s;
	cursor: pointer;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { 
   display: inline-block; 
}

* html .clearfix { 
   height: 1%; 
}

.clearfix { 
   display: block; 
}

.projects .filters {
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: 12px;
	font-size: 15px;
	background-color: #efefef;
}

.projects .filters .inner {
	padding: 20px;
	position: relative;
}

.projects .filters .inner .result-count {
	position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -25px;
    color: #999;
}

.projects .filters .inner .tags {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 22px;
}

.projects .filters .inner .tags ul.tag-list li.tag-item {
	margin-top: 9px;
	margin-left: 4px;
}

.projects .filters .inner tags-input .host {
	margin-left: 58px
}

.projects .filters .inner input[type=text] {
	padding: 20px;
	width: 200px !important;
	border: 0;
	font-size: 22px;
}

.projects ul.plist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.projects ul.plist li {
	display: block;
	width: 50%;
	margin-bottom: 10px;
	float: left;
	height: 400px;
}

.projects ul.plist li h4 {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

/*.projects ul li.odd {
	float: right;
}

.projects ul li.even {
	float: left;
}*/

.projects ul.plist li .panel {
	position: relative;
	padding: 20px;
	padding-top: 12px;
	background-color: #eee;
	height: 90%;
	margin-right: 18px;
}

.projects ul.plist li .inner {
	position: absolute;
	top: 45px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	background-color: #fff;
	padding: 10px;
	display: block;
}

.projects ul.plist li .inner .desc {
    background-color: rgba(255, 255, 255, .75);
    padding: 15px;
    border-radius: 3px;
    color: #000;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	min-height: 40px;
	text-align: center;
	border: 1px solid #ccc;
}

.projects ul.plist li a img {
	width: 80%;
}

.projects .search-icon {
	font-size: 40px;
    color: #ccc;
    position: absolute;
    top: 29px;
    z-index: 100;
    left: 24px;
}

@media (max-width: 1100px) {
	.projects ul.plist li {
		display: block;
		width: 100%;
	}
}