<!DOCTYPE html>

<html>
	<head>
		<title>colehafner.com</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
		<script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
		
		
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<link href='css/foundation-icons.css' rel='stylesheet' type='text/css' />
		<link href='css/style.css' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
		
		
		<script src="js/app.js"></script>
		<script src="js/routes.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>

	</head>
	<body ng-app="cjh">
		<app-nav></app-nav>
		<div ui-view></div>
		
		<script type="text/ng-template" id="home.html">
			home...
		</script>
		
		<script type="text/ng-template" id="projects.html">
			<div class="projects">
			
				<div class="filters">
					<div class="inner">
						<i class="fi-magnifying-glass search-icon"></i>
						<div class="result-count">{{ ctrl.resultCount }} result<span ng-show="resultCount !== 1">s</span></div>
						
						<tags-input 
							on-tag-added="ctrl.filterProjects($tag)"
							on-tag-removed="ctrl.filterProjects($tag)"
							ng-model="ctrl.selectedTags" 
							placeholder="Search">
									
							<auto-complete 
								min-length="0" 
								source="ctrl.loadTags($query)">
							</auto-complete>
					
						</tags-input>
						
					</div>
				</div>
		
				<ul class="plist">
					<li ng-repeat="p in ctrl.projects" ng-class="{odd: $odd, even: $even}" ng-show="p.visible === true">
						<div class="panel"  >
							<h4>{{ p.name }}</h4>
							<a class="inner" 
								href="{{ p.url }}" 
								target="_blank"
								style="background-image: url({{p.img}}); background-size: cover;">
								<div class="desc">{{ p.desc }}</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</script>
		
		<script type="text/ng-template" id="blog.html">
			blog...
		</script>
		
		<script type="text/ng-template" id="nav.html">
			<div class="app-nav clearfix">
				<div class="logo"></div>
				<ul>
					<li>
						<a ng-class="{active: selected === 'home'}" 
							ng-click="activate($event, 'home')">
							About
						</a>
					</li>
					<li>
						<a ng-class="{active: selected === 'projects'}"
							ng-click="activate($event, 'projects')">
							Portfolio
						</a>
					</li>
					<li>
						<a ng-class="{active: selected === 'blog'}"
							ng-click="activate($event, 'blog')">
							Blog
						</a>
					</li>
				</ul>
			</div>
		</script>
		
	</body>
</html>
